* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.feader {
  background-color: #1F2937;
}

.quote {
  background-color: #E5E7EB;
}