* {
  font-family: Roboto;
}

/*General*/
.info-text {
  font-size: 16px;
  color: #E5E7EB
}
.semi-text { 
  font-size: 20px;
  color: #F9FAF8
}


/*Header and Footer*/
.feader {
  background-color: #1F2937;
}
.header{
  display: flex;
  justify-content: end;
  margin-left: 130px;
  margin-right: 130px;
  padding-top: 15px;
}
.logo{
  margin-right: auto;
}
.link-span{
  display: flex;
  gap: 20px;
}
.footer{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}


/*Title*/
.title {
  display: flex;
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 60px;
  padding-bottom: 60px;
  gap: 30px;
}
.title-text {
  font-size: 35px;
  color: #F9FAF8;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 5px;
}


/*Body*/
.body {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.body {}
.body h3 {
  font-size: 28px;
  font-weight: 710;
  text-align: center;
  margin-top: 35px;
}
.thumbnails {
  display: flex;
  justify-content: center;
  gap: 35px;
}


/*Quote*/
.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-right: 175px;
  padding-left: 175px;
}
.quote p {
  font-size: 31px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 15px;
}
.quote h4 {
  align-self: center;
  font-size: 22px;
  align-self: flex-end;
  margin-top: 0px;
}


/*Sign Up*/
.sign-up-box {
  background-color: #3882F6;
  display: flex;
  justify-content: center;
  gap: 44px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 170px;
  margin-left: 170px;
  padding: 20px;
}
.sign-up-button{
  background-color: #3882F6;

}
.sign-up h3 {
  margin-bottom: 4px;
}
.sign-up p {
  margin-top: 4px;
}